<div>
  <form (ngSubmit)="onSubmit()" *ngIf="!loginSuccess && !JWT">
    <h2>Login</h2>
    <div class="form-group">
      <label for="username">Username:</label>
      <input
      pInputText
      id="username"
      name="username"
      ngDefaultControl
      [(ngModel)]="username"
      required
      type="text"
    />

    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        pInputText
        id="password"
        name="password"
        ngDefaultControl
        [(ngModel)]="password"
        required
        type="password"
      />
    </div>
    <button pButton type="submit" label="Login"></button>
  </form>
  <button
    *ngIf="loginSuccess || JWT"
    pButton
    type="button"
    label="Logount"
    (click)="logout()"
  ></button>
</div>
